// Our about meta box
#show-me-the-admin-about-mb {

    p {
        line-height: 19px;
    }

}

// Our promote meta box
#show-me-the-admin-promote-mb {

    p {
        margin: 10px 0;
    }

    a {
        text-decoration: none;
    }

    .promote-text {
        text-decoration: underline;
    }

    .dashicons {
        text-decoration: none;
    }

    .donate img {
        margin: 0 4px 2px 0;
        vertical-align: middle;
    }

}

// Our settings table
#show-me-the-admin-settings {

    label {
        display: block;
        margin: 0 0 5px 0;
    }

    input.regular-text {
        width: 100%;
    }

}

// The main save button
#show_me_the_admin_save_changes {
    width: 100%;
}