// Our about meta box
#show-me-the-admin-about-mb {

    p {
        line-height: 19px;
    }

}

// Our promote meta box
#show-me-the-admin-promote-mb {

    p {
        margin: 10px 0;
    }

    a {
        text-decoration: none;
    }

    .promote-text {
        text-decoration: underline;
    }

    .dashicons {
        text-decoration: none;
    }

    .donate img {
        margin: 0 4px 2px 0;
        vertical-align: middle;
    }

}

// Any of our settings tables
.show-me-the-admin-settings {

    label,
    legend {
        display: block;
        font-size: inherit !important;
        margin: 0 0 5px 0;
    }

    input.regular-text {
        width: 100%;
    }

    .smta-choices {
        padding: 0 0 0 15px;

        &.vertical {

            label {
                display: block;
            }

        }

    }

}

// The features settings table
#show-me-the-admin-features {
    margin-top: 12px;
}
#stma-features-td {
    background: rgba( #21759b, 0.2 );

    .description {
        margin-top: 10px;
    }

}

// Our user settings area
#smta-user-profile-settings {
    background: rgba( #000, 0.04 );
    padding: 20px;
    margin: 1em 0 2em 0;

    *:first-child {
        margin-top: 0;
    }

    *:last-child {
        margin-bottom: 0;
    }

    h3 {
        margin: 15px 0 0 0;
        border-top: 1px solid #bbb;
        padding-top: 30px;
    }

    table.smta-user-profile-settings {

        td {
            padding: 10px 0;
        }

    }

}

// The user roles
#smta-user-roles {
    width: 100%;
}

// Adust for screens larger than 600px
@media screen and (min-width:600px) {

    // Our user settings table
    #show-me-the-admin-user-profile {

        input.regular-text {
            width: 80%;
        }

    }

}

// The main save button
#show_me_the_admin_save_changes {
    width: 100%;
}