#show-me-the-admin-about-mb p {
  line-height: 19px;
}

#show-me-the-admin-promote-mb p {
  margin: 10px 0;
}
#show-me-the-admin-promote-mb a {
  text-decoration: none;
}
#show-me-the-admin-promote-mb .promote-text {
  text-decoration: underline;
}
#show-me-the-admin-promote-mb .dashicons {
  text-decoration: none;
}
#show-me-the-admin-promote-mb .donate img {
  margin: 0 4px 2px 0;
  vertical-align: middle;
}

.show-me-the-admin-settings label {
  display: block;
  margin: 0 0 5px 0;
}
.show-me-the-admin-settings input.regular-text {
  width: 100%;
}

#smta-user-profile-settings {
  background: rgba(0, 0, 0, 0.04);
  padding: 20px;
  margin: 1em 0;
}
#smta-user-profile-settings *:first-child {
  margin-top: 0;
}
#smta-user-profile-settings *:last-child {
  margin-bottom: 0;
}

#show-me-the-admin-user-profile td {
  padding: 10px 0;
}

#smta-user-roles {
  width: 100%;
}

@media screen and (min-width: 600px) {
  #show-me-the-admin-user-profile input.regular-text {
    width: 80%;
  }
}
#show_me_the_admin_save_changes {
  width: 100%;
}
