// Our about meta box
#show-me-the-admin-about-mb {

    p {
        line-height: 19px;
    }

}

// Our promote meta box
#show-me-the-admin-promote-mb {

    p {
        margin: 10px 0;
    }

    a {
        text-decoration: none;
    }

    .promote-text {
        text-decoration: underline;
    }

    .dashicons {
        text-decoration: none;
    }

    .donate img {
        margin: 0 4px 2px 0;
        vertical-align: middle;
    }

}

// Our settings table
#show-me-the-admin-settings {

    label {
        display: block;
        margin: 0 0 5px 0;
    }

    input.regular-text {
        width: 100%;
    }

    // For the user profile
    &.show-me-the-admin-user {

        td {
            padding: 10px 0;
        }

    }

}

// Our user settings area
#show-me-the-admin-user {
    background: rgba( #000, 0.04 );
    padding: 20px;
    margin: 1em 0;

    *:first-child {
        margin-top: 0;
    }

    *:last-child {
        margin-bottom: 0;
    }

}

// Adust for screens larger than 600px
@media screen and (min-width:600px) {

    // Our settings table
    #show-me-the-admin-settings {

        // For the user profile
        &.show-me-the-admin-user {

            input.regular-text {
                width: 80%;
            }

        }

    }

}

// The main save button
#show_me_the_admin_save_changes {
    width: 100%;
}