#show-me-the-admin-login{
    background: #23282d;
    width: 100%;
    height: 32px;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    &:hover{
        background: #21759b;
    }
}

#show-me-the-admin-button {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    z-index: 99997;
    cursor: pointer;
    font: 400 20px/1 dashicons;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0.4;

    &:before {
        content: "\f120";
        top: 2px;
    }

    &:hover {
        opacity: 1;
    }
}

#show-me-the-admin-hover{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 99998;
}